[2015-06-10 15:32] ffes opened #2 "Change description homebrew repo"
I suggest to change the description of this repo to something like

"Mac OSX Homebrew Tap"
or
"OSX Homebrew Tap for Universal Ctags"
or
"Homebrew Tap for Universal Ctags on OSX"

This way it is clear when you look at https://github.com/universal-ctags/ what this repo is all about, especially for non OSX users who haven't got a clue what Homebrew is.

[2015-06-10 15:51] cweagans commented on #2
Done.

[2015-06-10 15:51] #2 closed, assigned to nobody

[2015-07-20 16:03] nelstrom opened #3 "Copyright notice and contact info are out of date"
I'd like to try out universal-ctags, so I've just issued the following commands:

[code]

This seems to have worked. I get a different message now when I run `ctags --help`:

[code]

I think that the contact details and copyright notice are wrong.

I'm not sure if this issue belongs on `homebrew-universal-ctags` or one of the other repos managed by this organisation. If I should have raised this i

[2015-07-20 20:26] ffes commented on #3
Yes, you are right. And as you assumed correctly, that is because the main repo has not released a version yet. I am not a Mac guy, but if I understand correctly this homebrew tap is just an easy way to get the a compiled version of the master (aka development) branch of Universal Ctags repo on your Mac. But @cweagans knows all the details. His is the author of this tap.

[2015-07-20 21:01] cweagans commented on #3
This Homebrew Tap just compiles universal ctags on a user's machine. The Ctags copyright information is outside the scope of the tap - it's something that would need to be changed in the ctags repo.

[2015-07-21 08:01] nelstrom commented on #3
Ok, thanks for clarifying that. I'll close this issue.

[2015-07-21 08:01] #3 closed, assigned to nobody

[2015-12-27 10:32] thtb opened #5 "error: possibly undefined macro: AM_INIT_AUTOMAKE"
occur error: possibly undefined macro: AM_INIT_AUTOMAKE

but i reinstall the automake and still doesn't work

here's the log https://gist.github.com/755ba53de9e734215a17

[2015-12-27 10:37] thtb commented on #5
https://gist.github.com/35a84e6154647c3daad3
new log after update and fix slash problem

[2015-12-28 10:17] bruschill commented on #5
I'm having this issue as well. Any luck figuring it out?

[2015-12-29 23:14] choco commented on #5
Check pending pull request

[2016-01-02 18:55] thtb commented on #5
what can do now,  can i change brew to check you branch instead the master

[2016-01-02 19:01] choco commented on #5
Yes you can use my branch in the mean time:
Tap my fork:

[code]

And finally:

[code]

[2016-01-13 16:32] zbeekman commented on #5
It looks like #6 fixed this issue, no?

Can anyone confirm that is been resolved?

[2016-08-16 06:34] eksoparty opened #13 "Homebrew reporting warning on `brew upgrade`"
Warning: Calling 'depends_on :automake' is deprecated!
Use 'depends_on "automake"' instead.
/usr/local/Library/Taps/universal-ctags/homebrew-universal-ctags/universal-ctags.rb:5:in `class:UniversalCtags'
Please report this to the universal-ctags/universal-ctags tap!

[2016-08-20 01:48] mikedfunk commented on #13
+1

[2016-08-20 15:06] lucafavatella commented on #13
@xitkov I believe that PR #8 - merged 9 days ago - fixed this. May I suggest you re-test with a fresh version of the formula/tap and update this ticket?

[2016-08-22 10:39] eksoparty commented on #13
I had to do `brew untap universal-ctags/universal-ctags` and then `brew tap universal-ctags/universal-ctags` to fix it.

Is there a way to update the tap without re-tapping?

[2016-08-22 15:53] cweagans commented on #13
You should be able to `brew update` to get the latest formula. Did that not work?

[2016-08-22 16:24] eksoparty commented on #13
No, it did not work.

[2017-01-14 15:24] alexbardas opened #16 "Error: no time information in """
`macOS version`: 10.12.2
`brew --version`: Homebrew 1.1.7

[code]

Any ideas what can go wrong?

[2017-02-12 10:44] thoughton commented on #13
~~I may be wrong, but I think it's `brew upgrade` to make sure installed formulas are the latest.~~

Ah, please ignore me. I've just re-read the original issue and realised my comment was not helpful at all. Sorry!

[2017-02-12 10:50] thoughton opened #18 ""repetition-operator operand invalid" warning when run with no options."
Running with no extra command line options gives me the following warning:
[code]
Is this anything to worry about?

I'm installed from HEAD and up-to-date:
[code]

I'm running on Mac OS X 10.9.5.

Thanks!

[2017-03-18 04:00] KazuakiM commented on #13
Why is it open though the problem is solved?

[2017-06-16 09:27] liulipeng opened #21 "I have some warnings after the installation is complete, do not know how to do"
ctags: Warning: Don't reuse the kind letter `f' in a language Ruby (old: "method", new: "function")

ctags: Warning: Don't reuse the kind letter `f' in a language Ruby (old: "method", new: "function")

ctags: Warning: Don't reuse the kind letter `f' in a language Ruby (old: "method", new: "function")

ctags: Warning: Don't reuse the kind letter `f' in a language Ruby (old: "method", new: "function

[2017-06-16 12:21] KazuakiM commented on #21
I think it's a matter of setting.
You use empty ```~/.ctags``` and try to solve the error.
If there is no problem with installation, please ask this head owner.

[2017-06-19 08:28] KazuakiM commented on #18
I think it's a matter of setting.
You use empty ```~/.ctags``` and try to solve the error.

[2017-07-13 17:29] paradox460 opened #23 "brew install doesn't work, manual install does"
Attempting to run `brew install --HEAD universal-ctags/universal-ctags/universal-ctags` on OS X 10.11.6 results in an error 2 from Make.

I've pasted the error.log below:

[code]

Interestingly enough, `cd`ing into the homebrew cache directory, running `make clean` and then running the appropriate build commands compiles fine, at which point I can `brew link universal-ctags` and have it function n

[2017-07-13 22:27] #18 closed, assigned to nobody

[2017-07-13 22:28] #21 closed, assigned to nobody

[2017-07-15 16:09] thoughton commented on #18
You're right, I had a `~/.ctags` file, likely from an old (not "universal-") version of ctags, just containing some `Haxe` language definitions. I no longer need those definitions, and deleting that file solved the problem.

Thanks for the help!

[2017-07-16 13:42] KazuakiM commented on #23
@paradox460
Please confirm the permission status.

[code]

[2017-07-17 10:31] #13 closed, assigned to nobody

[2017-07-20 22:53] KazuakiM commented on #5
The problem is now solved. Thank you for your help.

[2017-07-20 22:53] #5 closed, assigned to nobody

[2017-07-20 22:57] KazuakiM commented on #16
@alexbardas
Can you tell me about the progress on this?

[2017-07-21 18:56] masatake commented on #18
(I will make ctags load ~/.u-ctags instead of ~/.ctags.)

[2017-08-17 09:26] alykhantejani opened #24 "Cannot install from homebrew, failure with git fetch"
Hi,

I'm having issues installing from homebrew.  Below is the error I get from running `brew install --HEAD universal-ctags/universal-ctags/universal-ctags`

[code]

[2017-08-17 13:17] KazuakiM commented on #24
I can do ```git clone``` without problems in my environment.
Delete ```universal-ctags--git``` of ```/Users/atejani/Library/Caches/Homebrew/universal-ctags--git``` and re-execute.

And Could you tell me the environmental information?

*My environment*
[code]

[2017-08-20 23:09] KazuakiM commented on #23
@paradox460 ping

[2017-08-20 23:09] KazuakiM commented on #24
@alykhantejan ping

[2017-08-20 23:10] #16 closed, assigned to KazuakiM

[2017-08-21 11:56] alykhantejani commented on #24
Hi @KazuakiM,

Sorry for the delay, here are my details:

[code]

[2017-08-21 12:20] KazuakiM commented on #24
@alykhantejani
Have you re-executed after clear cache?

[2017-08-21 17:02] paradox460 commented on #23
All are `-rwxr-xr-x` or `drwxr-xr-x`, and are owned by my user and group

[2017-08-21 22:33] KazuakiM commented on #23
@masatake
Do you know the cause?

[2017-08-22 00:10] masatake commented on #23
@KazuakiM, I have no idea more than you.
As you inspect, I wonder whether execution bit of "install.sh" is set or not.
As @paradox460 reported, it seems the bit is set. However, I wonder "/Users/$USER/Library/Caches/Homebrew/universal-ctags--git/install-sh" is a really correct path for the script or not.

In the output, there is no $(pwd) information, so I cannot know where ./install.sh is.

@Kazu

[2017-08-22 00:14] masatake commented on #23
@paradox460, I would like to know the ORIGINAL result of
[code]

To get the original result, "ls -l" should be done before  "cding into the homebrew cache directory, running make clean".

[2017-08-22 19:58] paradox460 commented on #23
[code]

[code]

[code]

----

After running `./autogen.sh`, which was not run by `brew install…`, the three directories look like this:

[code]

[code]

[code]

[2017-08-22 22:28] KazuakiM commented on #23
@masatake
I checked debug mode and homebrew was cloned at this path.
So this path is correct.

I'm not very good system programming on MacOS X.
But I'll look into it.

*debug mode command*
[code]
*operation log*

[2017-08-23 01:05] masatake commented on #23
O.k.

@paradox460, could you run
[code]
, and put the output to your gist as @KazuakiM did?

I would like to compare the both output.

[2017-08-23 19:52] masatake commented on #23
Sorry, I close this mistakenly.

install.sh may be generated by autoreconf, which is run by autogen.sh.

In the change https://github.com/universal-ctags/ctags/pull/1534, I turned on trace-mode of autogen.sh.

I would like to see the output of "brew install --HEAD universal-ctags/universal-ctags/universal-ctags"
from scratch.

I would like to compare the output of the command line run on @KazuakiM

[2017-08-23 20:22] paradox460 commented on #23
https://gist.github.com/45e5982640ab31cd892031f8f63a48d1

[2017-08-24 03:08] masatake commented on #23
The 2nd Running gen-repoinfo script fails though the first running succeeds.
I wonder why. Running gen-repoinfo multiple times is expected behavior as the @KazuakiM's log shows.

I have to add codes for debug printing to Makefile.am.
@KazuakiM, it is possible to refer another branch of universal-ctags/ctags
from universal-ctags.rb?

I would like you to create a branch named "gen-repoinfo-debug" at

[2017-08-24 03:22] masatake commented on #23
I made the branch "homebrew-debug" branch. See  https://github.com/universal-ctags/ctags/tree/homebrew-debug.

[2017-08-24 14:13] KazuakiM commented on #23
@masatake
I could set it as ```homebrew-debug``` branch in my fork repository.
However, I could not find the way to install it with ```gen-repoinfo-debug``` branch.
I'd like to investigate a little more, but as a compromise plan,
There is a way to place another fomula file on the ```master``` branch and reference the ```homebrew-debug``` branch.

[2017-08-24 14:23] masatake commented on #23
@KazuakiM , I see. This is typical remote debug session.  If you need more access-right to repositories or something other, call me again. Thank you very much.

[2017-08-27 02:07] KazuakiM commented on #23
@paradox460
Try the following. And put the output to your gist?

1. find fomula file.
[code]
2. edit /usr/local/Cellar/universal-ctags/HEAD-4625ceb/.brew/universal-ctags.rb
[code]
3. re-install
[code]

[2017-09-30 13:02] kiryph opened #25 "Missing manpage(s) by installation with homebrew"
When I install universal-ctags with
[code]
I get only following files
[code]

However, I would like to have the manpages available.

[2017-09-30 13:07] KazuakiM commented on #25
Hi @kiryph ,

You can check it.
[code]

[2017-09-30 13:15] kiryph commented on #25
Hi @KazuakiM,
thanks for the quick response. However, I think I don't understand what you mean. I was referring to the files in https://github.com/universal-ctags/ctags/tree/master/man which apparently are not installed by default. There is also no compile option for installing the manpages as well which usually are listed by `brew info universal-ctags`. Did I miss something?

Just to make sure: t

[2017-09-30 13:36] KazuakiM commented on #25
Hi @kiryph

sorry, I was misunderstanding.
I think that it is especially unnecessary. In my case I can see without any problems.

[code]

 I would like to know the ORIGINAL result of
[code]

[2017-09-30 13:40] kiryph commented on #25
The results are
[code]
and
[code]
BTW:
[code]
works. However, it shows me the manpage of the BSD version of ctags which is preinstalled under macOS.

[2017-09-30 13:50] KazuakiM commented on #25
I see too.
I'll need a little more time to think about this.

[2017-10-01 06:29] KazuakiM commented on #25
Hi @kiryph

You should install `rst2man` and I would like to know the result of
[code]
*link*

[2017-10-01 07:46] kiryph commented on #25
Yes, installing `rst2man.py` which is part of the package `docutils` helped. However, `brew` uses an adjusted `$PATH` environment variable during installation. Most importantly it does not contain `/usr/local/bin` where `rst2man.py` is linked. You can check this by adding `--interactive` and echo `$PATH`:
[code]
Also trying to run `rst2man.py` in this special shell returns `command not found`. Thi

[2017-10-01 10:44] KazuakiM commented on #25
Hi @kiryph

Yes. This issue is $PATH was losted  during installation.
So I suggest you add `--env=std` options.
I solved this issue. Would you try it again.

And I think `docutils` is should installed by pip.

[2017-10-01 12:52] kiryph commented on #25
First of all, my above mentioned modification to the universal-ctags homebrew formula resolved the issue for me. `docutils` have been installed via `brew` by declaring `docutils` as a recommended dependency for `universal-ctags`. The manpages are now available and are not missing anymore:
[code]

---

However, I would be happy to help to figure out a good solution following common practices to imp

[2017-10-01 13:54] KazuakiM commented on #25
Hi @kiryph

Thank you for your feedback and links!
I think it's OK to support `docutils` as well too.

But I think `[:build, :optional]` is better than `[:build, :recommended]`.
If there were `docutils`, manpages could be supported at universal-ctags.
Please make a pull request if you don't mind.

And `libxml2` is installed at my environment, sorry.

[2017-10-01 20:02] masatake commented on #25
(If the build-system of u-ctags itself should be fixed, tell me.
The error about libxml2 looks strange for me.)

[2017-10-02 15:25] kiryph commented on #25
I tried to understand the libxml2 error better.

**Update** please do not forget that it works without using the option `--env=std`.

Homebrew about libxml2:
[code]

I hope I got following things right:

`libxml2` is part of the underlying Darwin source code of macOS:
https://opensource.apple.com/source/libxml2/libxml2-30.17/

However, by default only the shared compiled library and not the  heade

[2017-10-02 16:37] kiryph commented on #25
### `❯ env`
A comparison of environment variables shown with command `env` at the interactive prompts of
[code]
and
[code]
The diff (without the PATH variable)
[code]

A search for `libxml2` shows, that the `superenv` adds the path `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.13.sdk/usr/include/libxml2` to `CMAKE_INCLUDE_PATH` and `HOMEBREW_ISYSTEM_

[2017-10-02 16:52] kiryph commented on #25
### Install Xcode Commandline Tools to use `--env=std`
If someone wants to install with `--env=std`, he should install the xcode commandline tools with `xcode-select --install` which are called Xcode Commandline Tools (CLT). This places `libxml2` header files in `/usr/include/`!

If pkg-config should be adjusted to find files within the Xcode.app (e.g. `/Applications/Xcode.app/Contents/Developer/P

[2017-10-02 16:58] kiryph commented on #25
@KazuakiM

If there were docutils, manpages could be supported at universal-ctags.
Please make a pull request if you don't mind.

I leave the pull request/commit up to you: This should be only a one-liner or a two-liner in case you want to adjust the message.

[2017-10-02 16:58] #25 closed, assigned to nobody

[2017-10-03 14:23] KazuakiM commented on #25
Hi @kiryph
Thank you very much!

[2017-10-19 05:18] tplunket opened #30 "brew install fails to link libxml2"
I don't know a lot about Mac dev unfortunately but like some other open issues, the Homebrew instructions complete with a failure. I tried the workaround mentioned elsewhere regarding just building from the source cache but that fails in the same way...

In my case, it's failing to link. In the output there's a bunch of CC calls, then `CCLD ctags` then I get a list of undefined symbols; `_xmlDocGe

[2017-10-19 13:57] KazuakiM commented on #30
Hi @tplunket ,
It is probably resolved by installing libxml2 with homebrew. However, I thought that this problem was strange in the past. I think that `autoconf` is misunderstanding.

By the way, will the result of the following command still be 2.2?
[code]

[2017-10-19 23:22] KazuakiM commented on #30
Hi @tplunket ,
I have an additional question.Which OS do you use?
It may be dependent on the OS.

There were other modifications that seemed to be similar.
* https://github.com/Homebrew/homebrew-core/blob/66b1e4307a993db80437046071acff88ba18e037/Formula/libxmlsec1.rb#L15
* https://github.com/Homebrew/homebrew-core/blob/f72b0fc7e24199779a0e419936d5834e11808eee/Formula/spdylay.rb#L21
* https://githu

[2017-11-05 22:35] tplunket commented on #30
@KazuakiM /usr/bin/xml2-config reports 2.9.2. /usr/local/bin/xml2-config reports 2.7.7 and that's the one that's found by `which xml2-config`. I honestly couldn't say where that came from.

[2017-11-07 15:18] KazuakiM commented on #30
Hi @tplunket
I update this project , add "--without-xml" options.
So add options and try again?

[2017-12-08 01:53] hisnawi opened #32 "How to brew global with universal-ctags?"
When I try this:

[code]
How to achieve that using brew?

[2017-12-08 04:20] cweagans commented on #32
This is not a universal-ctags issue. Please file an issue in the homebrew-core repository where the [global formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/global.rb) is maintained.

[2017-12-08 04:20] #32 closed, assigned to nobody

[2018-06-13 13:47] RobinRamael opened #35 "Brew install fails with setuptools import error"
[code]

I've updated the system python setuptools, but this did not change anything. Is there something wrongly configured on my end?

[2018-06-14 14:12] KazuakiM commented on #35
Hi @RobinRamael
Python isn't required by universal-ctags. Python( docutils ) only make man pages, So I add `--without-doc` options.
Once more please.
[code]

[2018-06-14 18:15] masatake commented on #35
Which version of setuptools do you use?

https://github.com/pypa/setuptools/issues/299
https://github.com/pypa/setuptools/issues/252

[2018-06-15 08:27] RobinRamael commented on #35
The install succeeds with the `--without-docs`. Thanks!

Currently, my system python, which I'm assuming is wat brew uses, is 18.5

[2018-08-02 23:06] fakiyer opened #37 "Make fails"
Attempting to run `brew install --HEAD universal-ctags/universal-ctags/universal-ctags` on OS X 10.13.6 results in an error 2 from Make.

[code]

* My environment

[code]

[2018-08-03 13:40] KazuakiM commented on #37
Hi, @fakiyer
Can you put the results to the gist?
[code]

[2018-08-04 00:31] fakiyer commented on #37
Hi, @KazuakiM
OK. Here are results:

https://gist.github.com/fakiyer/3a32c1c69a2c1f6226658adb1eacc8d9

[2018-08-05 12:39] KazuakiM commented on #37
@masatake
Do you have any solutions?

[2018-08-05 17:10] masatake commented on #37
Looks very strange. Maybe a broken errno.h file is installed to @fakiyer's environment and oru build-sys includes it.

What we expect as errno.h may be https://github.com/st3fan/osx-10.9/blob/master/xnu-2422.1.72/bsd/sys/errno.h.

As far as reading https://github.com/Homebrew/homebrew-core/blob/master/Formula/lsof.rb, I guess errno.h may be at "#{MacOS.sdk_path}/usr/include".
I wonder following pa

[2018-08-06 12:11] fakiyer commented on #37
I tried it but still getting error...

[code]

[code]

[2018-08-06 12:35] masatake commented on #37
@fakiyer, could you try to install `lsof` via brew?
lsof also uses errno.

[2018-08-06 12:48] fakiyer commented on #37
@masatake
Yes, I could.

[code]

[2018-08-06 13:30] masatake commented on #37
(I don't know brew well.)

@fakiyer, thank you. But it seems that you tried the binary package of lsof.
I would like to know whether you can introduce source package(?) of lsof.
Could you try though I don't know how to do it?

Like u-ctags, lsof uses errno and ENOENT in its source code.
If you can build lsof binary without trouble, the brew build-script(?) of u-ctags does something wrong.
If you c

[2018-08-06 14:26] fakiyer commented on #37
Is this alright?

[code]

But, when trying to install zsh from source, I got an error...

[code]

[2018-08-08 10:01] fakiyer commented on #37
@masatake @KazuakiM
It worked after clean install.
Thanks a lot for your help.

[2018-08-08 10:01] #37 closed, assigned to nobody

[2018-08-30 11:51] medeirosthiago commented on #23
Hey guys! I'm facing the same problem @paradox460

This is my output: https://gist.github.com/medeirosthiago/5a31d5a04fe25f5269623e6bb40c06af

I don't know if the problem is permissions 🤔

[2018-08-30 14:25] KazuakiM commented on #23
Hi, @medeirosthiago
I think this warning is pip error ( https://github.com/pypa/setuptools/issues/1078 ).
[code]
So change master branch, not “homebrew-debug” .
And try the following.
[code]

[2018-08-31 07:59] medeirosthiago commented on #23
Hey @KazuakiM
Thanks, but I still wasn't able to install using `master` branch.

I've updated the output: https://gist.github.com/medeirosthiago/5a31d5a04fe25f5269623e6bb40c06af

[2018-08-31 09:27] KazuakiM commented on #23
Hi @medeirosthiago
You will add `--without-doc ` options.

[2018-08-31 09:44] medeirosthiago commented on #23
Hi @KazuakiM

I tried again using `--without-doc` and this is the output: https://gist.github.com/medeirosthiago/5a31d5a04fe25f5269623e6bb40c06af

[2018-08-31 10:02] KazuakiM commented on #23
Hi @medeirosthiago
Thanks, solved one problem.
Do you try it?
[code]

[2018-08-31 10:08] medeirosthiago commented on #23
Nice, thanks.

Below follows my outputs.

$ xcode-select --install
[code]
$ brew update
[code]
$ brew doctor
[code]

[2018-08-31 12:58] masatake commented on #23
@medeirosthiago,
Could you tell me the output of
[code]

I would like to know more details of the execution of make.
To do so, I have to know the implementation(GNU or BSD?) of make on your platform.

@KazuakiM, I would like to add something debug option to the line:
[code]

The lines in the log on gist:
[code]

This is very strange. The execution bit of ./install-sh may be set to 0.
install-sh co

[2018-08-31 20:00] medeirosthiago commented on #23
Hi @masatake
This is the ouput:
[code]

[2018-09-01 01:56] masatake commented on #23
@medeirosthiago, I wonder your make support --trace option.
Could you check the output of --help option like:
[code]

[2018-09-01 02:02] KazuakiM commented on #23
Hi @medeirosthiago
There are some points which concern me.
[code]
Do you install other `ctags` from homebrew?
If you don't have any problems, uninstall `ctags` applications.

@masatake
OK. Just a moment, please.

[2018-09-01 02:58] KazuakiM commented on #23
@masatake
Add `-d` options results.

Add `ls -l && ./install.sh` results

[2018-09-01 18:04] masatake commented on #23
@KazuakiM, no, I don't want to know about your build environment. ctags can be built well on your environment:-)

I would like to know the information about @medeirosthiago's build environemnt.

[2018-09-05 14:06] medeirosthiago commented on #23
Hey guys, sorry for my late response.

@masatake I don't have `--trace` option on `make`:
[code]

@KazuakiM I removed my old `ctags` version. This is my new output: https://gist.github.com/medeirosthiago/5a31d5a04fe25f5269623e6bb40c06af

What kind of information do you guys need from me?

[2018-09-11 03:52] KazuakiM commented on #23
@medeirosthiago
Debug preparation  is ready. Do you try it?
1. Brew Update
[code]
2. Move tap directory.
[code]
3. Edit git config
[code]
Modify fetch target.
[code]
4. Git operation
[code]
5. Install
[code]

[2018-09-11 06:25] medeirosthiago commented on #23
Hi @KazuakiM

I did all the steps, this is the output: https://gist.github.com/medeirosthiago/5a31d5a04fe25f5269623e6bb40c06af

[2018-09-11 06:47] masatake commented on #23
[code]

@KazuakiM, is this o.k.? It seems that the code in master branch is built.

[2018-09-11 06:50] KazuakiM commented on #23
@medeirosthiago
Is `4 Git operation` no problem? And check branch.

[2018-09-11 07:33] medeirosthiago commented on #23
I recorded a asciinema so you can check what I did: https://asciinema.org/a/ej7KRdR5pNsgpO0Z5DGCr7mJy

[2018-09-11 15:25] masatake commented on #23
It seems that I misunderstood the output.
[code]
This may be o.k. This checkout is for ctags repository, not for homebrew-universal-ctags.

[2018-09-11 15:28] masatake commented on #23
@medeirosthiago, could you try the step 4.5 that is placed between the step 4 and the step 5.

4.5
[code]

[2018-09-12 07:52] medeirosthiago commented on #23
@masatake the cat is here: https://gist.github.com/medeirosthiago/8a13896f91e87ecff264a74a7e7ee222

[2018-09-12 13:44] masatake commented on #23
Thank you.
I have looked into the output. You checked out the branch for debugging well.
Though "ls" is included in the output, I cannot find its execution in the video.
At 01:19, "make" is run just after "configure". I wonder why. I have no idea to debug this item.

Obviously "install.sh" is wrong.  But I have no way to prove it.

[2018-09-15 07:23] KazuakiM commented on #23
@medeirosthiago
I have no idea too. So sorry.
You can try `brew cleanup` and reboot.

[2018-09-15 13:14] k-takata commented on #23
I don't know about homebrew, but how about passing the `--keep-tmp` option to `brew install` and check what happens?
It might beuseful to check the contents of `config.log` and the permissions of `install-sh`.

[2018-09-18 07:29] medeirosthiago commented on #23
@KazuakiM don't worry... I will try to install it manually, thanks for your help! 😄

[2019-01-19 17:41] bIgBV opened #40 "Installation fails on Mac os"
Running the brew installation command in the README fails with the following error:

[code]

Running `brew doctor` shows no issues as well:

[code]

I'm running brew 1.9.2 and am on Mac OS 10.14

Please let me know if you need more information!

[2019-02-04 05:08] KazuakiM opened #41 "Support and Check Homebrew 2.0"
https://brew.sh/2019/02/02/homebrew-2.0.0/

[2019-04-02 06:00] smwyzi commented on #30
if u don't need xml feature, just use:
` ./configure --prefix=/usr/local --disable-xml`

[2019-04-28 11:26] jongheeyun opened #42 "Install fail: Can not find install.sh or install-sh"
universal-ctags--git$ brew install --HEAD universal-ctags/universal-ctags/universal-ctags

==> Installing universal-ctags from universal-ctags/universal-ctags
==> Cloning https://github.com/universal-ctags/ctags.git
Updating /Users/steve/Library/Caches/Homebrew/universal-ctags--git
==> Checking out branch master
Already on 'master'
Your branch is up to date with 'origin/master'.
HEAD is now at 9b2

[2019-05-02 13:14] jongheeyun commented on #42
It was fixed by

Workspace$ **brew install pkgconfig**
Warning: pkg-config 0.29.2 is already installed, it's just not linked
You can use `brew link pkg-config` to link this version.
Workspace$ **brew link pkg-config**
Linking /usr/local/Cellar/pkg-config/0.29.2... 4 symlinks created

[2019-05-02 13:15] #42 closed, assigned to nobody

[2019-06-07 14:50] miranska commented on #40
I'll add the same problem here (brew 2.1.4 and MacOS 10.14.5):

[code]

Any suggestions on how to diagnose?

[2019-08-25 22:58] nerdrew opened #43 "Should python be a dependency rather than using the system python?"
It looks like universal-ctags requires python + setuptools to install. Rather than use the system python, should the formula depend on the homebrew python@2?

[2019-08-26 04:21] nerdrew commented on #43
Hmm. I had a number of other issues as well. Maybe this should just get closed.

FWIW to get it to install on linuxbrew I did:

[code]

and I had to install python-docutils, not python3-docutils.

[2019-10-02 05:56] chinf-tw opened #44 "Make fails : "ld: symbol(s) not found for architecture x86_64""
I tried to run `brew install --HEAD universal-ctags/universal-ctags/universal-ctags` on macOS 10.14.6 but results :

[code]

 run `brew install --verbose  --HEAD universal-ctags/universal-ctags/universal-ctags`:
[results](https://gist.github.com/chinf1996/583c121ebc3a3df468f1c78dc06c98c2)

**My environment**
[code]

[2019-10-02 09:39] masatake commented on #44
I wonder why this happens.

Could you show me /Users/CHINF/Library/Logs/Homebrew/universal-ctags/04.make ?
The last 15 lines  in the output message are not enough.

[2019-10-03 07:23] chinf-tw commented on #44
Sure! This one [04.make](https://gist.github.com/chinf1996/750b350a06ddbfe8c8a85155d48808d5)

[2019-10-03 08:07] k-takata commented on #44
How about defining `NDEBUG` when compiling packcc? (Not tested.)

[code]

I think linking should success even if `assert()` is enabled, though.

[2019-10-03 12:01] chinf-tw commented on #44
Where can see that ><?

[2019-10-06 16:05] masatake commented on #44
packcc is a tool for building ctags. So I don't want to turn off the DEBUG flag.

Is this related to this issue?
https://forums.developer.apple.com/thread/104296

[2019-10-07 08:56] kanekoh commented on #44
I tried to run `brew install --HEAD universal-ctags/universal-ctags/universal-ctags` on Mac and it was succeeded.

My MacOS version is as follows:
Version: `10.14.6 (18G103)`

clang vesion:
[code]

I realized that I don't have Xcode environment on my Mac.

The below is the result:
[code]

[2019-11-06 01:20] KazuakiM commented on #43
@nerdrew
Hi, Sorry for replying so late.
I update PR #45 now. One more time, please.

[2019-11-06 01:21] #35 closed, assigned to nobody

[2019-11-06 01:21] #30 closed, assigned to KazuakiM

[2019-11-06 01:23] #23 closed, assigned to KazuakiM

[2019-11-13 10:20] #41 closed, assigned to KazuakiM

[2019-11-21 05:02] #43 closed, assigned to nobody

[2019-12-01 04:46] #24 closed, assigned to KazuakiM

[2019-12-02 07:09] masatake commented on #44
__APPLE__ can be used.
https://stackoverflow.com/questions/6802903/c-ifdef-mac-os-x-question

I will handle this in ctags side.

[2019-12-15 09:41] songouyang opened #47 "rst2man: error: no such option: --syntax-highlight"
debian8 install fail
`without-doc` param is gone
[code]

[2019-12-15 09:45] masatake commented on #47
Your rst2man may be too old.
See https://sourceforge.net/p/docutils/patches/141/

[2020-02-08 22:11] ipatch commented on #23
**TL;DR**

[this is how i got ctags installed](https://asciinema.org/a/299370)

![uctags-brew-install-issue sm](https://user-images.githubusercontent.com/613805/74094661-8a18d380-4aaa-11ea-9b59-b8d1b0dd8a76.gif)

wow this never got resolved, totally running into this issue this afternoon.

the only way i could install was to drop into a interactive prompt for installing the formula

[code]

then p

[2020-02-09 20:53] medeirosthiago commented on #23
heey @ipatch ! It's been a long time 🙈
Thank you so much for your help 👌 ! With this workaround I was able to install it successfully 🙌 🎉 .

[2020-02-09 21:05] ipatch commented on #23
awesome, glad someone found it useful, for whatever reason (unknown to me) the `make install` portion for _universal ctags_ fails when running it through the `brew install` command. 🤷‍♂️

my ruby chops are a bit dated at this point, and navigating through the brew src to figure out why the install script is failing due to permission issues is out of my wheel house, so i guess i'll settle for this

[2020-03-15 18:32] madtrick commented on #37
@fakiyer do you still remember what did you mean by "clean install"? I'm running into the same problem

[2020-03-16 00:43] fakiyer commented on #37
@madtrick
It's to return to factory settings.

[2020-03-16 06:03] madtrick commented on #37
@fakiyer reset the computer? 😱

[2020-03-16 09:07] fakiyer commented on #37
@madtrick
Unfortunately, yes...
I reset MacOS and reinstalled universal-ctags.

[2020-03-16 09:21] madtrick commented on #37
ok, thx for the info 😄

[2020-03-16 19:06] wadkar commented on #37
@madtrick :
First of all, a gist with verbose log of the build process would certainly help to know more about your specific problem.

If you don't want to go to an extent of reinstalling macOS and try few things, I would suggest following options:

1. [Uninstall your xcode-tools and installing it again](https://stackoverflow.com/a/47804075). Try installing ctags.
2. `brew update`, then do a `brew

[2020-05-04 00:37] wookayin opened #48 "Remove python3 dependency"
I don't think it makes much sense to have python3 as a dependency (#43, #45). I want to keep the brew python version as I already have, but the current brew formula would always require me to update to new version whenever installing.

Do you think it would be possible to get rid of python3 or docutils dependency, allowing users to just use existing python installation? Or we should be able to opt

[2020-05-04 00:43] wookayin commented on #48
Workaround: If one already have `docutils` installed, we can ignore dependencies like:

[code]

[2020-05-04 01:42] KazuakiM commented on #48
Hi @wookayin
I update fomula changes `:build` to `:recommended` .
So Add `--without-docutils` options.
Can you do it again?

[2020-05-04 18:32] wookayin commented on #48
[code]

Yes, this works for me. Thank you for making it optional!

[2020-05-04 18:32] #48 closed, assigned to nobody

[2020-06-25 14:42] KazuakiM opened #51 "Thanks TravisCI"
https://foundation.travis-ci.org/2020/06/15/foundation-update/

[2020-07-03 12:42] CliveK commented on #40
Have the same issue on Mac

➜ brew install --HEAD universal-ctags
Updating Homebrew...
==> Installing universal-ctags from universal-ctags/universal-ctags
==> Cloning https://github.com/universal-ctags/ctags.git
Updating /Users/CliveKitchen/Library/Caches/Homebrew/universal-ctags--git
==> Checking out branch master
Already on 'master'
Your branch is up to date with 'origin/master'.
HEAD is now at

[2020-07-03 16:38] masatake commented on #40
I think the issues are not the same.
@bIgBV's one and @miranska's one are failed at ./configure.
However, @CliveK's one is failed at ./autogen.sh.

@KazuakiM, could you consider adding `depends_on "libtool" => :build` to universal-ctags.rb ?

In this March, I introduced a library called libreadtags.so to u-ctags.
For building libreadtags.so, libtool is needed.
Missing libtool may cause the failure

[2020-07-06 07:00] KazuakiM commented on #40
Sorry, I try it when I get back home.

[2020-07-06 13:04] CliveK commented on #40
@masatake - could you perhaps advise me as to how to install the  libtool is needed.

I installed libtool via homebrew but still get the same as above.

[2020-07-06 13:27] k-takata commented on #40
Is `pkg-config` installed?

[2020-07-06 14:07] wadkar commented on #40
@CliveK , I think `brew install libtool` gives you a `g` prefixed binaries, see `brew info libtool`:

[code]

So you may want to create a symlink, for example: `cd /usr/local/bin && ln -s glibtool libtool && ln -s glibtoolize libtoolize`

That might pick up the brew installed GNU Libtool and make it work (haven't tried (yet)).

[2020-07-06 19:12] masatake commented on #40
As far as reading https://github.com/universal-ctags/homebrew-universal-ctags/blob/faaef55ab7b513529e06d454d49d973ede007151/universal-ctags.rb#L8, pkg-config must be available.
autogen.sh also verifies the availability of pkg-config  command.

However, as @k-takata wrote, missing pkg-config is a well-known reason for "configure.ac:129: error: possibly undefined macro: AC_DEFINE".  e.g. https://sta

[2020-07-07 07:35] CliveK commented on #40
I have pkg-config installed and have now done what @wadkar suggested but still getting same error.

[2020-07-07 15:29] KazuakiM commented on #40
@masatake
I reinstalled master branch when I uninstalled libtool. I could install universal-ctags.
And I tested TravisCI too.

So I think not require `libtool` at build.

[2020-08-04 20:17] badench opened #54 "Installation fails on OSX"
Hi I am trying to install universal-ctags per the formula in the README, I get the following output
[code]
I tried installing libiconv and libiconv-devel. Homebrew couldnt find any available formula for libiconv-devel. I got the following message when trying to install libiconv "libiconv is keg-only, which means it was not symlinked into /usr/local,
because macOS already provides this software and

[2020-08-28 18:56] zodman opened #55 "failed on linuxbrew"
[code]

[2020-09-23 13:49] zzlw opened #56 "Error"
[code]

[2020-09-23 14:25] k-takata commented on #56
Please make sure that autoconf and automake are correctly installed.

[2020-09-23 14:40] zzlw commented on #56
I'm sure Autoconf and automake are installed, but they still don't work
[code]

[2020-09-23 14:47] k-takata commented on #56
How did you install them? What does `type -a aclocal` show?

[2020-09-23 22:46] masatake commented on #56
@KazuakiM, I have two requests.

A. longer (complete?) reference log taken at Travis-ci

To inspect issues like this issue, we need a "reference log" that is recorded in the environment where ctags is successfully built. So we can compare the reference log and the log shown by the issue reporter.

At Travis-ci, you run a test for building ctags. Therefore, we can take a reference log at Travis-ci.

[2020-09-24 02:27] zzlw commented on #56
![Uploading 截屏2020-09-24 上午10.27.27.png…]()

[2020-09-24 02:47] zzlw commented on #56
![截屏2020-09-24 上午10 46 20](https://user-images.githubusercontent.com/29618863/94094935-46b18080-fe53-11ea-9431-2c68ad3aea05.png)

[2020-09-24 02:53] zzlw commented on #56
![截屏2020-09-24 上午10 53 16](https://user-images.githubusercontent.com/29618863/94095364-2a621380-fe54-11ea-9f2c-f6db088eedbc.png)

[2020-09-24 02:55] zzlw commented on #56
![截屏2020-09-24 上午10 55 18](https://user-images.githubusercontent.com/29618863/94095512-71500900-fe54-11ea-89e4-6d3e27fdb4b5.png)

[2020-09-24 03:06] zzlw commented on #56
[code]

[2020-09-24 03:14] k-takata commented on #56
Similar issue here: https://stackoverflow.com/questions/25151658/xcode-build-failure-aclocal-share-files-missing
How about running `brew doctor` and `brew prune`?

[2020-09-24 03:45] zzlw commented on #56
![截屏2020-09-24 上午11 43 22](https://user-images.githubusercontent.com/29618863/94098552-6fd60f00-fe5b-11ea-8048-f6dec124e2eb.png)

[2020-09-24 03:55] k-takata commented on #56
So, does `brew doctor` detect anything?
BTW, text log is enough. A screenshot is not so useful in this case.

[2020-09-24 10:32] #44 closed, assigned to nobody

[2020-09-26 14:50] KazuakiM commented on #56
@masatake
Hi, I add debug code for TravisCI, passed test.
https://travis-ci.org/github/universal-ctags/homebrew-universal-ctags/builds/730504378

[2020-09-26 23:13] masatake commented on #56
@KazuakiM, thank you.

[2020-10-12 09:17] jandamm opened #58 "Move from HEAD to releases"
Recently universal-ctags added weekly releases: https://github.com/universal-ctags/ctags/issues/1038#issuecomment-706654032

Is it possible to update the tap to use the release version (when `--HEAD` is not specified).
Would make it easier to integrate with `brew bundle`, since this does not update `--HEAD` formulas.

[2020-12-01 18:58] equal-l2 commented on #58
This will also allow us to build a bottle (pre-built binary for Homebrew) using GitHub Actions!

[2020-12-18 03:04] Daoenti opened #61 "No libyaml support when installed with homebrew"
I installed the homebrew package using the tap as documented on this page:

`brew install --HEAD universal-ctags/universal-ctags/universal-ctags`

I am running MacOS Big Sur, however that upgrade was VERY recently (_about two hours ago_) and this was also ran earlier today on Catalina with the same results.  FYI, usernames have been obfuscated to protect the innocent.

After completing the install

[2021-01-20 19:26] equal-l2 commented on #61
**TL;DR**
Try with the following command instead. (`--with-libyaml` added)
[code]

---

**Details**
I saw a line indicating `libyaml` is an *optional* dependency.
https://github.com/universal-ctags/homebrew-universal-ctags/blob/841bdf137939c293c0a26a068c0bbc0e5be3fc1a/universal-ctags.rb#L11

Optional dependencies are disabled by default.
When you want to enable them, `libyaml` for example, you nee

[2021-01-20 20:59] Daoenti commented on #61
I'll close this issue then.  I was under the impression that optional dependencies would be enabled if the dependency was already present, I didn't realize that additional steps had to be taken. As a note though, it would be nice if this was mentioned in the README.md somewhere.

[2021-01-20 20:59] #61 closed, assigned to nobody

[2021-05-26 14:37] KazuakiM commented on #58
Fixed : https://github.com/Homebrew/homebrew-core/pull/78026

[2021-05-26 14:37] #58 closed, assigned to KazuakiM

[2021-05-26 14:37] #51 closed, assigned to KazuakiM

[2022-01-15 08:38] Hritik14 commented on #40
This installed on my machine just fine.
Mac Monterey 12.1 (21C52)
[code]